/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column {
    padding-top: 0ex;
    text-align: left;
    font-size: 2.5rem;
    font-family: fantasy, herculanum;
    height: 3ex;
    background-color: purple;
    color:gold;
}

.button {
  color: purple;
  border-color: purple;
  background-color: gold;
  font-family: fantasy, herculanum;
  font-size: 70px;
  text-align: left;
  height: 10rem;
  line-height: 12rem;
  width: 10rem;
}

.reset{
  color: gold;
  border-color: gold;
  background-color: purple;
  font-size: 18px;
  width: 20rem;
  height: 5rem;
  line-height: 5rem;
}
